
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sequelize Express Crud</title>
  </head>
  <body>
    <center>
    <h1>School Sequelize Express Crud</h1>
      <a href="/students">Student</a>
      <a href="/teachers">Teachers</a>
      <a href="/subjects">Subjects</a>
    </center>
  </body>
</html>