<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Edit Data Subject</title>
  </head>
  <body>
    <h1>Edit Subject</h1>
    <form method="POST" action="/subjects/edit/<%=data.id%>"">
      Subject name:<br>
      <input type="text" name="subject_name" value="<%=data.subject_name%>">
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>